* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #0077b6;
    color: white;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* HOME */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background: #caf0f8;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #0077b6;
}

.home-content h1 span {
    color: #0077b6;
}

/* ABOUT */
.about, .skills, .projects, .contact {
    padding: 60px;
}

.about p {
    font-size: 18px;
    margin-top: 10px;
}

/* SKILLS */
.skill-box {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #0077b6;
    color: white;
    border-radius: 20px;
}

/* PROJECTS */
.project-card {
    background: #e3f2fd;
    padding: 20px;
    margin: 15px 0;
    border-left: 5px solid #0077b6;
    border-radius: 10px;
}

.project-card button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #0077b6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.project-card button:hover {
    background: #023e8a;
}

/* CONTACT */
.contact form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.contact input, .contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #0077b6;
}

.contact button {
    padding: 10px;
    background: #0077b6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.contact button:hover {
    background: #023e8a;
}

.social-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #0077b6;
    font-weight: bold;
}

.social-links a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #0077b6;
    color: white;
}
